/*
    change your variables
 */
:root {

    /* this is the default color when the track-background is not in play */
    --scrollbar-background: green;
    --scrollbar-width: 7px;
    --scrollbar-border: 1px solid red ;

    /*states */
    --scrollbar-background-hover: blue;
    --scrollbar-width-hover: 7px;
    --scrollbar-border-hover: 1px solid black ;



    /* 
        this is the default color of the track when the scroll-bark-track-piece-background is not in play 
        IE: this is what is used for the track BG
    */
    --track-background: pink;


    --scrollbar-button-background: transparent;
    --scrollbar-button-display: none;
    --scrollbar-button-height: 5px;


    --resizer-background: red;
    --resizer-display: none;

    /* 
        this is the peice of the track that is not covered by the scrollbar-thumb
        IE doesn't support this prop
    */
    --scrollbar-track-peice-background: transparent;


    /*
        this is the marker in the track
        IE only supports changing the background color
     */
    --scrollbar-thumb-background: yellow;
    --scrollbar-thumb-border: 1px solid gray;
    --scrollbar-thumb-height: 10px;
    --scrollbar-thumb-boarder-raduis: 3px;
}