/*
trigger scroll
 */

/* pseudo elements */
::-webkit-scrollbar,
::-webkit-scrollbar:horizontal {
    background: var( --scrollbar-background);
    width: var( --scrollbar-width );
    /*lets treat width and height the same*/
    height: var( --scrollbar-width );
}
::-webkit-scrollbar-button       {
    background: var( --scrollbar-button-background);
    display: var( --scrollbar-button-display );
    /* width and height are treated the same when it comes to this element */
    height: var( --scrollbar-button-height );
    width: var( --scrollbar-button-height );
}

::-webkit-scrollbar-track        {
    background: var(--track-background);
    /*width: var(--track-width);*/
    /*height: var(--track-height);*/
}

::-webkit-scrollbar-track-piece  {
    background: var( --scrollbar-track-peice-background);
}
::-webkit-scrollbar-thumb        {
    background: var( --scrollbar-thumb-background );
    height: var( --scrollbar-thumb-height );
    width: var( --scrollbar-thumn-height );
    border-radius: var( --scrollbar-thumb-boarder-raduis );
}

::-webkit-scrollbar-corner       {
/*    background: var(--track-corner-background);
    width: var(--track-corner-width);
    height: var(--track-height-background);*/
}

::-webkit-resizer                {

    background: var(--resizer-background);
    /*width: var(--resizer-width);*/
    /*height: var(--resizer-height);*/
    display: var( --resizer-display)
}



/*ms*/

/* scrollbar-3dlight-color:gold;
    scrollbar-arrow-color:blue;
    scrollbar-base-color:;
    scrollbar-darkshadow-color:blue;
    scrollbar-face-color:;
    scrollbar-highlight-color:;
    scrollbar-shadow-color:*/